@import '../../App.scss';



.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  flex-direction: column;
  .logo {
    margin: 3rem;
  }
  .auth-item {
    @include displayFlex(none);
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem;
    width: 20rem;
    background: $semi-dark-blue;
    border-radius: 0.6rem;
    .title {
      @include titlePrimary;
      text-align: center;
    }
  }
}


@media (min-width: 768px) {
  .auth {
    height: 100vh;
    width: 500vh;
  }
}