@import '../../App.scss';

.tv {
  h3 {
    @include titlePrimary;
    margin-bottom: 1rem;
  }
  .tv-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    justify-items: center;
    gap: 1rem;
    li {
      width: 10rem;
    }
    .trending-tv {
      border-radius: 0.5rem;
      width: 10.25rem;
      height: 5rem;
      margin: 0 auto;
      position: relative;
      &:hover {
        @include hoverOver;
      }
      .bookmark {
        position: absolute;
        right: 0;
        @include bookmark;
      }
    }
    .info {
      margin-top: 0.5rem;
      color: color;
      bottom: 0.3rem;
      left: 0.3rem;
      small {
        display: block; 
        @include displayFlex(center);
        font-size: 0.75rem;
        gap: 0.2rem;
        span {
          background: white;
          width: 0.2rem;
          height: 0.2rem;
          border-radius: 50%;
        }
      }
      h3 {
        font-weight: 500;
      }
    }
  }
  .bookmark {
    position: absolute;
    top: 0;
    right: -1.5rem;
    @include bookmark;
  }
}

@media (min-width: 768px) {
  .tv {
    .tv-list {
      gap: 2rem;
      .trending-tv {
        width: 9.5rem;
      }
    }
  }
}